/data
/models
/pretrain_data
/runs_contrast
/results
/wandb
/wbm_results
/results
*.zip

/results
10
/sgt_mlm_old
*.ipynb
*.csv
/ckpt
/jdft3d
/augmentation_data
/cif_merge
/downstream_release
/hMOF_cif
/hMOF_xyz
/MOF_results
/MOF_models
/matbench_stable
/thermal
/tSNE
/plots
/HOIP_results
*.svg
*.png
*.gz
*.bz2
*.npy
*.json
*.yaml